# Introduction to Data Science

## Lab Assignment

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name, ufid and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""
UFID = ""

## Execution of the notebook

It is advised to run this notebook in a hosted Jupyter Notebook environment like Google Colab or Kaggle which automatically takes care of the external dependencies.

If you want to run the notebook in your local machine, please uncomment and use the following commands to install commonly used packages

In [ ]:
# ! pip install jupyter==1.1.1 matplotlib==3.9.3 numpy==2.1.3 pandas==2.2.3 scikit-learn==1.5.2

---

# Data Exploration and Wrangling Assignment

The objective of this assignment is to evaluate your understanding of Data Exploration and Data Wrangling concepts, along with your ability to apply them practically using standard Python libraries.

In [ ]:
# imports
import math
from datetime import datetime

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Assignment

You are provided with a dataset containing 1000 records of personal information. The dataset has various inconsistencies, missing values, and data quality issues.

### Your Task
1. Analyze the Dataset

Identify and summarize the inconsistencies or issues present in each column.
Provide insights into the distribution of key attributes (e.g., Age, Gender, Income).

2. Clean and Fix the Dataset

Handle missing values appropriately.
Fix inconsistencies in formatting (e.g., non-standard number formats, malformed email addresses).
Ensure all columns adhere to valid data types and formats.

3. Generate Insights

After cleaning, create a summary of trends and patterns in the data.
Highlight any relationships or correlations between variables such as Age, Weekly Wage, and Job Status.

### Dataset Overview:
The dataset includes the following columns:

- ID: Unique 7-character alphanumeric identifiers. May contain duplicates
- Name: Full names with random capitalization and missing middle names.
- Date of Birth: Two date formats with some missing values.
- Age: Derived from DOB but has missing or inconsistent entries.
- Gender: M/F/O
- Body Mass Index (BMI): Includes some missing data.
- Address: Concatenated address strings.
- Weekly Wage: Ranges from 100 to 10,000, including dirty formats like "5K".
- Job Status: Student, Employed, or Unemployed.
- Profession: Relevant for employed individuals, with some inconsistencies.
- Annual Income: Ranges from 5,000 to 500,000, with dirty formats and missing values.
- Email Address: Valid and malformed emails.
- Contact Number: 11-digit numbers with some non-standard formats.
- Marital Status: Married/Unmarried.
- \# of Dependants: Numeric values with occasional non-standard text entries.
- Avg Monthly Expenditure: Ranges from 50 to 500,000, including dirty formats.

## Reading dataset

You are given a CSV file. The file is located in the `data` directory under the name `data.csv`.

You are required to read it into a pandas DataFrame using the pandas library.

In [ ]:
# Listing files in the assignment for reference
import os

for dirname, dirnames, filenames in os.walk("."):
    # Remove hidden directories from the list of directories to walk
    dirnames[:] = [d for d in dirnames if not d.startswith('.')]
    
    for filename in filenames:
        # Check if the file has the desired extensions
        if filename.endswith(".csv") or filename.endswith(".ipynb"):
            print(os.path.join(dirname, filename))

In [ ]:
filename = None
# YOUR CODE HERE
# Placeholder replaced with actual implementation

df = None

# YOUR CODE HERE
# Placeholder replaced with actual implementation

df.head()

In [ ]:
assert len(df) == 1000
assert set(df.columns) == {'ID', 'Name', 'Date of Birth', 'Age', 'Gender', 'Body Mass Index',
       'Address', 'Weekly wage', 'Job status', 'Profession', 'Annual Income',
       'Email address', 'Contact Number', 'Marital Status', '# of dependants',
       'Avg Monthly Expenditure'}

## Data Types of Columns
Let us check out the data types of the columns.

In [ ]:
df.dtypes

### Observation

We see that most of the columns are read as `object` while Age and Body Mass Index have been read as 'float64'.

This indicates that pandas was unable to automatically assign appropriate data types to our columns.

This usually occurs when our data is dirty. Let us explore the different columns to find and fix the problematic records.

# Data Exploration

In this section, we will look at some of the columns and try to find columns with dirty data and clean them using some set rules.

## De Duplication

Let us start with the most basic task. We want to remove any duplicate records in dataset.

Since each record has a unique identifier, we shall use it.

In [ ]:
column_name_for_deduplication = None
# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
assert type(column_name_for_deduplication) == str

**TASK**: We want to keep the last (latest) record in the set of duplicates and drop all the other duplicate records.

In [ ]:
# Hint: Check out the drop_duplicates API here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
de_duplicated_df = df.drop_duplicates()

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
assert type(de_duplicated_df) == pd.DataFrame
assert len(de_duplicated_df) == 935

**Bonus (Extra Credit)**: If the last record has empty / missing values, we want to fill them using the subsequent records going from bottom to up.

In [ ]:
# Hint: Check out the drop_duplicates API here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
de_duplicated_extra_credit_df = None

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
# Extra Credit Test Cases
assert len(de_duplicated_extra_credit_df) == 935

In [ ]:
# For our analysis below, we will use de_duplicated_df
cleaned_df = de_duplicated_df

## Imputing Data from Related Fields

Missing values can often be addressed using data imputation techniques by leveraging information from related fields. In our dataset, this applies to the Date of Birth and Age columns.

Since we assume the data is up-to-date, if the Age is missing, it can be calculated using the available Date of Birth. This ensures consistency and completeness in the dataset.

However, if the Date of Birth is missing, those records will need to be removed from the dataset.

In [ ]:
missing_dob_dropped_df = None

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
assert type(missing_dob_dropped_df) == pd.DataFrame
assert len(missing_dob_dropped_df) == 934

### Cleaning noisy data
Let us look at some values of the Date of Birth column and checkout what format is being used. Remember, pandas had auto-classified it as object.

In [ ]:
missing_dob_dropped_df["Date of Birth"].head(20)

In [ ]:
# Convert to datetime format, handling two different formats. Use pd.to_datetime: https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

# YOUR CODE HERE
# Placeholder replaced with actual implementation

missing_dob_dropped_df = missing_dob_dropped_df.dropna(subset=["Date of Birth"]).reset_index(drop=True)

In [ ]:
assert type(missing_dob_dropped_df) == pd.DataFrame
assert len(missing_dob_dropped_df) == 796

### Fill missing age values from dob

In [ ]:
age_imputed_df = None

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
assert isinstance(age_imputed_df, pd.DataFrame)
assert len(age_imputed_df) == 796

In [ ]:
# Convert datatype of age to integer
age_imputed_df["Age"] = pd.to_numeric(age_imputed_df["Age"], downcast='integer')

In [ ]:
# For our analysis below, we will use de_duplicated_df
cleaned_df = age_imputed_df

### Cleaning up numerical columns

We know that columns like Weekly wage, Annual Income, Avg Monthly Expenditure, # of dependants

In [ ]:
cleaned_df['Weekly wage'].head(10)

In [ ]:
cleaned_df['Annual Income'].head(10)

In [ ]:
cleaned_df['# of dependants'].head(10)

In [ ]:
cleaned_df['Avg Monthly Expenditure'].head(10)

In [ ]:
cleaned_df['# of dependants'].value_counts()

We notice that there is some dirty data. The format of the numeric values is not correct.

We will try to write some clean up logic which will help preserve the data

In [ ]:
numeric_columns = ['Weekly wage', 'Annual Income', '# of dependants', 'Avg Monthly Expenditure']

cleaned_df_with_numeric_values = cleaned_df.copy()

for column in numeric_columns:
    cleaned_values = []
    for record in cleaned_df[column]:
        try:
            # Remove commas
            # YOUR CODE HERE
            # Placeholder replaced with actual implementation

            # Handle 'K' notation
            if "k" in record.lower():
                # YOUR CODE HERE
                # Placeholder replaced with actual implementation

            # Convert to integer if possible
            record = float(record)
        except ValueError as e:
            record = None
        cleaned_values.append(record)
    
    # Update the DataFrame column
    cleaned_df_with_numeric_values.loc[:, column] = cleaned_values

In [ ]:
for col in numeric_columns: 
    cleaned_df_with_numeric_values[col] = pd.to_numeric(cleaned_df_with_numeric_values[col])
    cleaned_df_with_numeric_values = cleaned_df_with_numeric_values.dropna(subset=[col]).reset_index(drop=True)

In [ ]:
assert isinstance(cleaned_df_with_numeric_values, pd.DataFrame)

In [ ]:
cleaned_df = cleaned_df_with_numeric_values

## Cleaning Miscellaneous Columns

Let us clean columns like Contact Number which have non standard formats

In [ ]:
cleaned_df['Contact Number'].head(20)

In [ ]:
cleaned_values = []
cleaned_df_with_phone_numbers = cleaned_df.copy()
for record in cleaned_df['Contact Number']:
    
        # Remove +
        # YOUR CODE HERE
        # Placeholder replaced with actual implementation

        # Remove -
        # YOUR CODE HERE
        # Placeholder replaced with actual implementation

        # Remove (
        # YOUR CODE HERE
        # Placeholder replaced with actual implementation

        # Remove )
        # YOUR CODE HERE
        # Placeholder replaced with actual implementation

        if len(record) == 12:
            # add 1 at the start
            # YOUR CODE HERE
            # Placeholder replaced with actual implementation

        if len(record) == 13:
            # Convert to integer if possible
            try:    
                record = int(record)
            except ValueError as e:
                print(e)
                record = None
        else:
            record = None

        cleaned_values.append(record)
cleaned_df_with_phone_numbers.loc[:, 'Contact Number'] = cleaned_values
cleaned_df_with_phone_numbers['Contact Number'] = pd.to_numeric(cleaned_df_with_phone_numbers['Contact Number'])
cleaned_df_with_phone_numbers = cleaned_df_with_phone_numbers.dropna(subset=["Contact Number"]).reset_index(drop=True)

In [ ]:
assert isinstance(cleaned_df_with_phone_numbers, pd.DataFrame)
assert len(cleaned_df_with_phone_numbers) == 771

Let us clean up the email column

In [ ]:
cleaned_df_with_phone_numbers['Email address'].head(15)

In [ ]:
cleaned_df_with_emails = cleaned_df_with_phone_numbers.copy()
def clean_email(email):

    # Handle missing values
    # YOUR CODE HERE
    # Placeholder replaced with actual implementation

    # Remove leading/trailing spaces
    # YOUR CODE HERE
    # Placeholder replaced with actual implementation

    # Remove invalid emails like "testemail", "jon@", "sample@gmail"
    # YOUR CODE HERE
    # Placeholder replaced with actual implementation
    return email

# Apply the cleanup function to the email column
cleaned_df_with_emails["Email address"] = cleaned_df_with_emails["Email address"].apply(clean_email)
cleaned_df_with_emails = cleaned_df_with_emails.dropna(subset=["Email address"]).reset_index(drop=True)

In [ ]:
assert isinstance(cleaned_df_with_emails, pd.DataFrame)
assert len(cleaned_df_with_emails) == 762

In [ ]:
final_clean_df = cleaned_df_with_phone_numbers

In [ ]:
final_clean_df.head(10)

### Null Columns

Let us check is any are left with null values

In [ ]:
# Check columns with null values
null_columns = final_clean_df.isnull().sum()

# Filter to display only columns with null values
print("Columns with null values:")
print(null_columns[null_columns > 0])

## Inferring Data

We notice that in some places the BMI is still missing. Since we do not have a way to calculate it, we will use Mean imputation.

To address missing BMI values in the dataset, we will follow these steps:

1. **Identify Potential Factors**: Evaluate attributes such as gender, annual income, age, job status, marital status, and the number of dependents, which are hypothesized to have a relationship with BMI.

2. **Analyze Relationships**: Compute pairwise correlations between BMI and these attributes to identify the strength and direction of their relationships.

3. **Select Key Attributes**: Based on the correlation analysis, choose the top 5 attributes with the highest absolute correlation values (both positive and negative) for further analysis.

4. **Impute Missing Values**: For each missing BMI value, calculate the mean BMI within subgroups sharing similar values of the selected attributes. Replace the missing BMI value with the computed mean for the corresponding subgroup.

In [ ]:
columns_of_interest = ['Gender', 'Annual Income', 'Age', 'Job status', 'Marital Status', '# of dependants', 'Body Mass Index']

# since some columns are categorical, we need to encode them
categorical_columns = ['Gender', 'Job status', 'Marital Status']

# One-Hot Encoding for categorical variables
data_encoded = pd.get_dummies(final_clean_df, columns=categorical_columns, drop_first=False)

updated_columns_of_interest = [
    col for col in data_encoded.columns
    if col in ['Annual Income', 'Age', '# of dependants', 'Body Mass Index'] or
    any(col.startswith(cat_col) for cat_col in categorical_columns)
]

# Compute correlation matrix : Refer - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html
correlation_matrix = None
# YOUR CODE HERE
# Placeholder replaced with actual implementation

# Extract BMI correlations
bmi_correlation = None

# YOUR CODE HERE
# Placeholder replaced with actual implementation
display(bmi_correlation)

In [ ]:
assert isinstance(bmi_correlation, pd.Series)
assert np.isclose(bmi_correlation["Gender_M"], 0.347182, rtol=1e-3)

Now, we need to select the top 5 parameters which affect the BMI from the above results.

In [ ]:
# Exclude self-correlation and select top 3 based on absolute correlation values in order

top_correlated_columns = None
# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
assert len(top_correlated_columns) == 5

For each missing BMI value, we calculate the mean BMI based on the group of records that share the same selected columns.

Note: If there are numeric columns, such as Annual Income, they need to be either converted into a range/group or a similarity-based selection technique should be applied.

### Clustering
We will use KMeans clustering based on the selected columns. The cluster representative will be the mean of the features, and this mean will be used to fill the missing BMI values.

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

### K-means
#### Scaling
Since KMeans results are affected by the magnitude of the input values, it is important to scale, normalize, or standardize the input features to achieve better clustering results. If you think your selected columns do not need scaling, simply clear the raised Exception below

For K means algorithm, we will use sklearn library. Refer: https://scikit-learn.org/1.5/modules/generated/sklearn.cluster.KMeans.html

In [ ]:
scaler = MinMaxScaler()
# YOUR CODE HERE
# Placeholder replaced with actual implementation


# Use KMeans clustering to group similar records based on Age and Normalized Income
kmeans = KMeans(n_clusters=5, random_state=42)


data_encoded['Cluster'] = kmeans.fit_predict(data_encoded[top_correlated_columns])

# Loop through each cluster and fill missing BMI values with the mean BMI of the cluster
for cluster in data_encoded['Cluster'].unique():
    cluster_bmi_mean = None

    # YOUR CODE HERE
    # Placeholder replaced with actual implementation
    
    # Fill missing BMI values with the calculated mean BMI for the cluster
    data_encoded.loc[(data_encoded['Cluster'] == cluster) & (data_encoded['Body Mass Index'].isna()), 'Body Mass Index'] = cluster_bmi_mean

final_clean_df['Body Mass Index'] = data_encoded['Body Mass Index']

In [ ]:
assert isinstance(final_clean_df, pd.DataFrame)

## Data Visualization / Exploration

Below we will create some visualizations using our cleaned data.

We will use matplotlib to plot different types of graphs

Let us have some look on the distribution of our sample data

In [ ]:
# Visualize: Distribution of Age
plt.figure(figsize=(8, 6))
plt.hist(final_clean_df['Age'], bins=5, color='black', edgecolor='white')
plt.title('Distribution of Age')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Visualize: Distribution of Job status

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
# Visualize: Distribution of Annual Income

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
# Visualize: Distribution of Number of Dependants

# YOUR CODE HERE
# Placeholder replaced with actual implementation

### A. Analyzing Spending Habits and Their Relationship with Age

We will try to visually deduce how a person's spending habbits varies with age.

In [ ]:
# Visualize: Average Monthly Expenditure by Age
plt.figure(figsize=(8, 6))
plt.scatter(final_clean_df['Age'], final_clean_df['Avg Monthly Expenditure'], color='green')
plt.title('Average Monthly Expenditure by Age')
plt.xlabel('Age')
plt.ylabel('Avg Monthly Expenditure')
plt.show()

### B. Analyzing Spending Habits and Their Relationship with Weekly Income

We will try to visually deduce how a person's spending habbits varies with their income.

In [ ]:
# Visualize: Weekly Wage vs. Avg Monthly Expenditure
# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
# Write short observation based on above plot
observation = ""
# YOUR CODE HERE
# Placeholder replaced with actual implementation

print(observation)

### C. Analyzing Health (BMI) and it's relationship to Income, Age, Employment Status and Marital Status

In [ ]:
# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
# Write short observation based on above plot
observation = ""
# YOUR CODE HERE
# Placeholder replaced with actual implementation

print(observation)

In [ ]:
# Visualize: BMI vs Income

# YOUR CODE HERE
# Placeholder replaced with actual implementation

In [ ]:
# Write short observation based on above plot
observation = ""
# YOUR CODE HERE
# Placeholder replaced with actual implementation

print(observation)

In [ ]:
# Visualize: BMI vs Age

plt.figure(figsize=(8, 6))
plt.bar(final_clean_df['Age'], final_clean_df['Body Mass Index'],  color='red')
plt.title('Age vs. Body Mass Index')
plt.xlabel('Age')
plt.ylabel('Body Mass Index')
plt.show()

In [ ]:
# Write short observation based on above plot
observation = ""
# YOUR CODE HERE
# Placeholder replaced with actual implementation

print(observation)

In [ ]:
# Visualize: BMI vs Gender

plt.figure(figsize=(8, 6))
plt.bar(final_clean_df['Gender'], final_clean_df['Body Mass Index'],  color='pink')
plt.title('Gender vs. Body Mass Index')
plt.xlabel('Gender')
plt.ylabel('Body Mass Index')

plt.grid()
plt.show()

In [ ]:
# Write short observation based on above plot
observation = ""
# YOUR CODE HERE
# Placeholder replaced with actual implementation

print(observation)